<div th:replace="fragments/header"></div>

<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Roupas de Homem & Mulher</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">T-shirt Masculina</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">12.000,00 Akz</span></p>
                                    <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Camisa Masculinat</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">20.000,00 Akz</span></p>
                                    <div class="tshirt_img"><img src="images/dress-shirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Vestido Femenino</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">15.500,00</span></p>
                                    <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">T-shirt Masculina</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">12.000,00 Akz</span></p>
                                    <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Camisa Masculinat</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">20.000,00 Akz</span></p>
                                    <div class="tshirt_img"><img src="images/dress-shirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Vestido Femenino</h4>
                                    <p class="price_text">Preço <span style="color: #262626;">15.500,00</span></p>
                                    <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                        <div class="seemore_bt"><a href="#">Detalhes</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="buynow_bt"><a href="#">Ver mais</a></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>